{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@config": "./src/config",
          "@loaders": "./src/loaders",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
